---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "My Astro Learning Blog";

import "../styles/style.css";
---

<Header />

<main>
  
  <h1>We Love Web Blog</h1>
  
  <Layout pageTitle={pageTitle}>
    <ul>
      {
        allPosts.map((post) => (
          <li>
            <a class="post-link" href={post.url}>{post.frontmatter.title}</a>
          </li>
        ))
      }
    </ul>
  </Layout>
  
</main>